<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite thread-count="2" verbose="10" name="POC Suite" annotations="JDK" parallel="tests">
         
  <test name="IFDS">
	 <classes>
	   <class name="seleniumpoc.IFDS"/>
	 </classes>
   </test>
   
  <test name="SelectAProductFromLandingPage">
     <classes>
       <class name="com.Amazon.Testcases.SelectAProductFromLandingPage"/>
     </classes>
   </test>
</suite>
